[Unit]
Description=Desktop Terminal Widget

[Service]
Type=simple

ExecStart=/usr/bin/kitten panel --edge=none --layer=bottom --app-id=desktop-terminal --focus-policy=on-demand --columns=60 --lines=16 --margin-left=1344 --margin-top=46 -o background_opacity=0.75 -o window_padding_width=8 -o allow_remote_control=socket-only --listen-on=unix:@desktop-terminal /usr/bin/fish

Restart=always
RestartSec=1

#[Install]
#WantedBy=default.target
