[Unit]
Description=Hyprland Desktop Widget Visibility Controller
Wants=desktop-nnn.service desktop-terminal.service desktop-rmpc.service desktop-keys.service
After=desktop-nnn.service desktop-terminal.service desktop-rmpc.service desktop-keys.service

[Service]
Type=simple
ExecStart=%h/.local/bin/widget-visibility
Restart=always
RestartSec=1
