[Unit]
Description=Hyprland Desktop Widget Visibility Controller
Wants=desktop-terminal.service desktop-rmpc.service desktop-lavat.service desktop-cmatrix.service
After=desktop-terminal.service desktop-rmpc.service desktop-lavat.service desktop-cmatrix.service

[Service]
Type=simple
ExecStart=%h/.local/bin/widget-visibility
Restart=always
RestartSec=1
